/*Turning Nav Bar Black while Scrolling */

.bg-black {
    background-color: black;
  }

  /* Edit for Mobile Nav Bar when Collapsed */

  @media (max-width: 767px) {
    .navbar-collapse {
      background-color: black;
    }

    .navbar-toggler:not(.collapsed) {
      margin-top: 0 !important; 
    }
  }

  